*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: "open-sans", sans-serif;
	padding: 0px;
}

header 
	.nav_container {
		display:flex;
		padding: 0% 0% 0% 0%;
		z-index: 999;
		Top: 0;
		position: sticky;
		background-color: white;
		}

		.logo {
			display: flex;
			width: 25%;
			height: auto;
			align-items: center;
			justify-content: center; /* Center the image horizontally */
		  }
		  
		  .logo img {
			max-width: 80%;
			max-height: 80%;
			padding: 5%;	
			
			}
			

		.menu {
			display: flex;
			justify-content:space-around;
			align-items: flex-end;
			width: 75%;
			height: auto;
			font-size: 1.5vw;
			}
			
	
			.menu a {
				color: #72C1E8;
				}
		
/* Styling für den Hauptinhalt */
main {
    padding: 0px;
	background-color: white;
}
	
		.bild1 {
		/* display: flex;*/
		flex-direction: column;
		align-items: center;
		padding: 0% 0% 2% 0%;
		max-width: 100%;
			}

.image-container {
  display: flex;
  flex-wrap: wrap;
  /*align-items: flex-end;*/
  justify-content: center;

}

	.image-container img, a {
		width: 95%;
		height: auto;
		padding: 2% 2% 2% 2%;
					}
				
	


/* Styling für Überschriften */
h1 {
	font-weight: 10;
	letter-spacing: 2px;
	font-size: 28px;
	color: #7E7F7E;	  
}
h2 {
	font-weight: blond;
	font-size: 14px;
	color: #7E7F7E;	  
}

/* Styling für Absätze */
p {
    line-height: 1.5;
}

/* Styling für Links */
a {
    color: blue;
    text-decoration: none;
}


